@using Newtonsoft.Json;
@model List<BaiTapLonNet.Models.BatDongSan>

<style>
    .right-side > li > a {
        text-decoration: none;
        color: inherit;
    }

    .right-side > li > a:hover {
        color: #0d509d;
        text-decoration: underline;
    }
    .card-bds:hover {
        cursor: pointer;
        border: 1px solid rgba(60,144,240,0.8);
    }

    .card-bds:hover > div > img {
        transform: scale(1.03);
    }

    .min_wrap {
        width: 1196px;
        margin: 0 auto;
    }

    .clearfix {
        display: block;
        float: none;
        clear: both;
    }

    .ul_os_h > li h3 {
        font-size: 12px;
        text-transform: uppercase;
        height: 35px;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 20px;
    }

    .text_ykkh_top {
        text-align: justify;
        min-height: 110px;
        overflow: hidden;
        padding-bottom: 20px;
        color: #333;
        float: left;
    }

    .gt-1:-webkit-any {
        color: -webkit-link;
        cursor: none;
        text-decoration: underline;
    }

    ol, ul {
        list-style: none;
    }

    .gt-1 {
        display: block;
        padding: 20px 25px 20px 25px;
        border-radius: 5px;
    }

    img.lazy {
        width: 100%;
        height: 100%;
    }

    img, embed {
        vertical-align: middle;
    }

    .ul_os_h > li img {
        display: inline-block;
        background: #f9f9f9;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
        -moz-box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
        box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .filter_h {
        background: #0d509d;
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 15px;
        overflow: hidden;
        margin-top: 15px;
        margin: 0;
    }

    .ul_os_h > li {
        float: left;
        width: 30.5%;
        margin: 0 2% 2% 0;
        text-align: center;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .filter_h ul {
        float: right;
    }

    .filter_h ul > li {
        float: left;
        padding: 0 10px;
        position: relative;
    }

    .filter_h ul > li > a {
        color: #fff;
        text-decoration: none;
    }

    .filter_h ul > li::after {
        content: "";
        width: 1px;
        height: 10px;
        background: #fff;
        position: absolute;
        top: 8px;
        right: 0;
    }

    .filter_h ul > li:last-child::after {
        display: none;
    }

    .filter_h ul > li:last-child {
        padding-right: 0;
    }
</style>
<h1 style="padding-left:50px;color:#145bad;" class="my-2">BẤT ĐỘNG SẢN</h1>
<form asp-controller="BatDongSan" asp-action="Search" method="post">

    <div style="display:flex;flex-direction:row;gap:20px;margin:0 50px" class="border-primary">

        <input type="text" name="tukhoa" class="form-control my-3" style="width:31vw;" placeholder="Nhập từ khoá" />
        <select name="tinh" class="form-select form-select-sm my-3" style="width:30vw;" id="city" aria-label=".form-select-lg example">
            <option selected>Tỉnh</option>
        </select>

        <select name="huyen" class="form-select form-select-sm my-3" id="district" style="width:30vw;" aria-label=".form-select-sm example">
            <option selected>Quận/huyện</option>
        </select>
        <select name="xa" class="form-select form-select-sm my-3" id="ward" style="width:30vw;" aria-label=".form-select-sm example">
            <option selected>Phường/Xã</option>
        </select>
    </div>
    <div style="display:flex;flex-direction:row;gap:20px;margin:0 50px;" class="border-primary">
        <select name="loai" class="form-select form-select-sm my-3" style="width:30vw;" aria-label=".form-select-sm example">
            <option selected>Loại</option>
            <option value="Văn phòng">Văn phòng</option>
            <option value="Nhà ở">Nhà ở</option>
        </select>
        <select name="dientich" class="form-select form-select-sm my-3" style="width:30vw;" aria-label=".form-select-sm example">
            <option selected>Tất cả diện tích</option>
            <option value="50"> <50m&#178 </option>
            <option value="10">50-100m&#178</option>
            <option value="150">100-150m&#178</option>
            <option value="200">150-200m&#178</option>
            <option value="250">200-250m&#178</option>
            <option value="300">250-300&#178</option>
            <option value="350">300-350&#178</option>
            <option value="351">>350m&#178</option>
        </select>
        <select name="gia" class="form-select form-select-sm my-3" style="width:30vw;" aria-label=".form-select-sm example">
            <option selected>Tất cả giá</option>
            <option value="0">Thoả thuận</option>
            <option value="100"><100$</option>
            <option value="200">100-200$</option>
            <option value="300">200-300$</option>
            <option value="400">300-400$</option>
            <option value="500">400-500</option>
            <option value="600">500-600$</option>
            <option value="601">>600$</option>
        </select>

        <input type="submit" class="btn btn-primary my-3" style="width:30vw;" value="Tìm kiếm">
    </div>
</form>
<div class="min_wrap">
    <div class="filter_h" style="margin: 15px 0;height:44px;">
        <h2 style="float:left; clear:both;font-size:14px;padding-top: 3px;">Văn phòng cho thuê</h2>
        <ul>
            <li>
                <a href="/BatDongSan?tinh= Thành phố Hà Nội">
                    Hà Nội
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Hưng Yên">
                    Hưng Yên
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Hà Giang">
                    Hà Giang
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Cao Bằng">
                    Cao Bằng
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Bắc Cạn">
                    Bắc Cạn
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Sơn La">
                    Sơn La
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Thái Bình">
                    Thái Bình
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Hoà Bình">
                    Hoà Bình
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Thái Nguyên">
                    Thái Nguyên
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Lạng Sơn">
                    Lạng Sơn
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Hải Dương">
                    Hải Dương
                </a>
            </li>
            <li>
                <a href="/BatDongSan?tinh= Tỉnh Phú Thọ">
                    Phú Thọ
                </a>
            </li>

        </ul>
    </div>
</div>
<section>
    <div class="container px-4 px-lg-5 mt-5 text-start" style="display:flex;flex-direction:row;gap:20px;">
        <div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-start" style="width: 60vw;">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <a style="text-decoration:none;" asp-action="ChiTiet" asp-route-id="@item.MaBatDongSan">
                            <div class="card h-100 card-bds" style="box-shadow:0 0 10px rgba(0,0,0,0.1);border-radius: 5px;overflow:hidden;">
                                <div class="position-relative">
                                    <p class="position-absolute btn" style="color:white;font-size:14px;left:0px;bottom:-25px;background-color:cornflowerblue;z-index:100;">@item.Gia USD</p>
                                    <img class="card-img-top" style="cursor:pointer;transition: transform 0.3s ease;height: 200px;border-top-left-radius:5px;border-top-right-radius:5px;transition:transform 0.3s;" src="@item.HinhAnh[0]" alt="..." />
                                </div>
                                <div class="card-body p-2">
                                    <h5 class="fw-normal " style="color:#145bad;font-size:16px;font-weight:400;line-height:20px;text-transform:capitalize;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
                                        @item.TenToaNha
                                    </h5>
                                    <p style="height:45px;line-height:24px;color: #888;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">@item.DiaChi</p>
                                    <span style="color:#FF0004;font-size:14px;">Giá cập nhật: @item.GiaCapNhat.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                                    <hr />
                                    <div class="d-flex  justify-content-evenly gap-xxl-5 align-items-center">
                                        <div>
                                            <i class="fa-sharp fa-solid fa-house"></i>
                                            @item.DienTichChoThue m&#178;
                                        </div>
                                        <div>
                                            <i class="fa-sharp fa-solid fa-city" style="padding-left:30px;"></i>
                                            @item.SoTang
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div>

            <div style="width:20vw;box-shadow:0 0 10px rgba(0,0,0,0.1);" class="list-group">
                <div style="background-color:#0d509d;color:white;font-weight:700;padding: 8px 10px;
                    text-transform: uppercase;text-align: center;
                    white-space: nowrap;border-top-left-radius: 5px;
                    border-top-right-radius: 5px;font-size:14px;">
                    Văn phòng cho thuê
                </div>
                <div>
                    <ul style="list-style: none;" class="list-group right-side">
                        <li class="list-group-item">
                            <a href="/BatDongSan">
                                Tất cả
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?tinh=Thành phố Hà Nội">
                                Văn phòng cho thuê Hà Nội
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?tinh=Tỉnh Hưng Yên">
                                Văn phòng cho thuê Hưng Yên
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?tinh=Tỉnh Thái Bình">
                                Văn phòng cho thuê Thái Bình
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?tinh=Tỉnh Bắc Ninh">
                                Văn phòng cho thuê Bắc Ninh
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="width:20vw;box-shadow: 0 0 10px rgba(0,0,0,0.1);margin-top:50px;" class="list-group">
                <div style="background-color:#0d509d;color:white;font-weight:700;padding: 8px 10px;
                    text-transform: uppercase;text-align: center;
                    white-space: nowrap;border-top-left-radius: 5px;
                    border-top-right-radius: 5px;font-size:14px;">
                    Xem theo diện tích
                </div>
                <div>
                    <ul style="list-style: none;" class="list-group right-side">
                        <li class="list-group-item">
                            <a href="/BatDongSan">
                                Tất cả
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=50">
                                Dưới 50m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=100">
                                Diện tích từ 50-100m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=150">
                                Diện tích từ 100-150m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=200">
                                Diện tích từ 150-200m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=250">
                                Diện tích từ 200-250m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=300">
                                Diện tích từ 250-300m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=350">
                                Diện tích từ 300-350m&#178
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?dientich=351">
                                Diện tích lớn hơn 350m&#178
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="width:20vw;box-shadow: 0 0 10px rgba(0,0,0,0.1);margin-top:50px;" class="list-group">
                <div style="background-color:#0d509d;color:white;font-weight:700;padding: 8px 10px;
                    text-transform: uppercase;text-align: center;
                    white-space: nowrap;border-top-left-radius: 5px;
                    border-top-right-radius: 5px;font-size:14px;">
                    Xem theo mức giá
                </div>
                <div>
                    <ul style="list-style: none;" class="list-group right-side">
                        <li class="list-group-item">
                            <a href="/BatDongSan">
                                Tất cả
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=100">
                                Giá nhỏ hơn 100$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=200">
                                Giá từ 100-200$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=300">
                                Giá từ 200-300$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=400">
                                Giá từ 300-400$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=500">
                                Giá từ 400-500$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=600">
                                Giá từ 500-600$
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/BatDongSan?gia=601">
                                Giá lớn hơn 600$
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        console.log(result)
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Name === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Name);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Name);
                }
            }
        };
    }
</script>
